html, body {
    background: #fff;
    color: #111;
}

#container {
    max-width: 800px;
    margin: 1em auto;
    padding: 0.5em;
}

@media print {
    p {
        font-size: 80%;
    }

    #container {
        margin-top: 0;
    }

    #container:after {
        content: "Latest information available at FindLuk.com";
        margin: 2px auto;
    }
}

header {
    text-align: center;
}

h1, h2 {
    text-transform: uppercase;
}

/* id */

.id img {
    display: block;
    margin: 0 auto;
}

@media (max-width: 590px) {
    .id img {
        width: 100%;
    }
}

.id ul {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
}

.id li {
    font-weight: bold;
    display: inline-block;
    padding: 0 20px;
    border: 3px solid #000;
    padding: 1em;
    margin: 3px;
}

@media print {
    .id img {
        width: 50%;
    }

    .id li {
        padding: 0 5px;
        border-width: 1px;
        padding: 0.25em;
    }
}

/* cta */

@media print {
    .cta {
        font-size: 70%;
    }
}

/* see-also */

@media print {
    .see-also {
        display: none;
    }
}

/* entity */

.entity {
    display: -webkit-flex;
    display: flex;
    border: 3px solid #000;
    list-style: none;
    text-align: center;
    padding: 0;
}

.entity li {
    flex: 1;
    padding: 1em;
}

.entity li > * {
    display: block;
}

.entity-name {
    text-transform: uppercase;
}

.entity-phone {
    font-size: 3em;
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .entity {
        display: block;
    }

    .entity li {
        font-size: 80%;
    }
}
